#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: gray;
    border: 2px rgba(255, 255, 0, 0.808) solid;
    border-radius: 15px;
    box-sizing: border-box;
}

img{
    width: auto;
    height: auto;
}