#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: gray;
    border: 2px rgba(255, 255, 0, 0.808) solid;
    border-radius: 15px;
    box-sizing: border-box;
}

#logo{
    background-image: url('ad73e17b7a1d4b64a043cbc89064def0.png');
    width: 200px;
    height: 200px;
}